node_modules/
dist/
.DS_Store
*.log
*.tsbuildinfo
front/node_modules/
front/dist/
front/android/.gradle/
front/android/app/build/
front/android/build/
front/android/capacitor-cordova-android-plugins/build/
front/android/app/src/main/assets/public/
front/.vite/
